.body {
    width: 50px;
    height: 50px;
}
.container{
    height: 470px;
    width: 750px;
    display: flex;
    border: 2px solid black;
    margin: auto;
    justify-content: center;
    border-radius: 10px;
}
.input input {
    margin-top: 30px;
    flex-direction: column;
    gap: 25px;
    border: none;
    border-bottom: 1px solid black;
}
.image p {
    text-align: center;
}
.btn {
    width: 70px;
    background: blue;
    border-radius: 10px;
}